In [1]:
import os
import pandas as pd

## Exploratory Analysis

There is 1 csv file in the current version of the dataset:

In [2]:
data = pd.read_csv('resume_dataset.csv')

Let's check the columns

In [3]:
print(data.columns)

Index(['ID', 'Category', 'Resume'], dtype='object')

How many entries?

In [4]:
data.shape

(1219, 3)

How many categories and how many documents for each category?

In [5]:
data['Category'].value_counts()

Engineering                121
Information Technology     104
Education                  102
Health & Fitness            77
Managment                   74
Accountant                  67
Finance                     66
Advocate                    61
Sales                       61
Digital Media               54
Designing                   51
Banking                     48
Business Development        44
Arts                        43
HR                          41
Building & Construction     29
Automobile                  27
Consultant                  26
BPO                         25
Agricultural                24
Food & Beverages            22
Apparel                     14
Public Relations            13
Aviation                    13
Architects                  12
Name: Category, dtype: int64

Clean the corpus of the documents

In [6]:
def clean_text(resume: str):
    tmp = resume.replace('\\n', '\n')
    return tmp[2:-1]

data['Resume'] = [clean_text(entry) for entry in data['Resume'].values]

Remove documents containing less than 200 characters

In [7]:
data = data.loc[pd.Series([len(resume) for resume in data['Resume'].values]) > 200]

In [8]:
data.shape

(1204, 3)

How long are the resume in the dataset? Let's check the number of characters.

In [9]:
pd.Series([len(resume) for resume in data['Resume'].values]).describe()

count     1204.000000
mean      7092.130399
std      10076.591082
min        460.000000
25%       2230.250000
50%       3547.500000
75%       7077.500000
max      64687.000000
dtype: float64

## Data Selection

I consider only classes for which there are at least 60-70 documents

In [10]:
data['Category'].value_counts().head(10)

Engineering               118
Information Technology    104
Education                 101
Health & Fitness           76
Managment                  72
Accountant                 67
Finance                    64
Advocate                   60
Sales                      60
Digital Media              52
Name: Category, dtype: int64

In [11]:
mask = (
        (data['Category'] == 'Engineering') |
        (data['Category'] == 'Information Technology') | 
        (data['Category'] == 'Education') | 
        (data['Category'] == 'Health & Fitness') |
        (data['Category'] == 'Managment')
       )
data_selection = data.loc[mask]